@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

body {
  background-color: #121417;
  font-family: 'Overpass', sans-serif;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #1F2630;
  height: 60vh;
  width: 25vw;
  border-radius: 5vh;
}

.box .star_box {
  position: absolute;
  top: 4.5vh;
  left: 4.5vh;
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  background-color: #262F38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .title {
  position: absolute;
  top: 12vh;
  left: 4.5vh;
}

.box .subtitle {
  position: absolute;
  top: 20vh;
  left: 4.5vh;
}

.box .btns {
  position: absolute;
  top: 40vh;
  left: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.box .btns span {
  height: 5vh;
  cursor: pointer;
  width: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-left: 2vh;
  background-color: #262F38;
}

.box .btns span:hover {
  background-color: #959eac;
}

.box .submit {
  position: absolute;
  top: 49vh;
  left: 50%;
  border-radius: 50vh;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  background: #fb7413;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.box .submit:hover {
  color: #fb7413;
  background-color: white;
}

.attribution {
  position: absolute;
  bottom: -16vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.result {
  position: absolute;
  border-radius: 50vh;
  height: 5vh;
  left: 50%;
  top: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #262F38;
  width: 35vh;
  color: #fb7413;
}

.tq_img {
  position: absolute;
  left: 50%;
  top: 8vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title2 {
  position: absolute;
  top: 38vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.subtitle2 {
  position: absolute;
  top: 45vh;
  color: #7c8798;
  left: 50%;
  width: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */